@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e6ff;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.ql-container{
    border: none !important;
}

.ql-toolbar{
    border: none !important;
}

.ql-editor{
    border: none !important;
}

.ql-editor img {
    width: 100%;
    border-radius: 8px;
    margin: 12px 0;
    height: 50vh;
    object-fit: cover;
    object-position: center 20%;
  }

  .ql-rendered-content img{
    width: 100%;
    border-radius: 8px;
    margin: 12px 0;
    height: 50vh;
    object-fit: cover;
    object-position: center 20%;
  }